In [107]:
def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

%reload_ext autoreload
%autoreload 2
%matplotlib inline

from fastai import * 
from fastai.vision import *
from fastai.tabular.all import *
from numpy import random
import pandas as pd
import numpy as np
import array as arr

train_df = pd.read_csv("data/03-05-2021_world.csv")
train_df.head().T
#display_all(pops_raw.head().transpose())

# take the incidence rate / testing rate for the incidence proportion (risk)
# note: ~50% people wear masks.

,0,1,2,3,4
FIPS,NaN,NaN,NaN,NaN,NaN
Admin2,NaN,NaN,NaN,NaN,NaN
Province_State,NaN,NaN,NaN,NaN,NaN
Country_Region,Afghanistan,Albania,Algeria,Andorra,Angola
Last_Update,2021-03-06 04:23:41,2021-03-06 04:23:41,2021-03-06 04:23:41,2021-03-06 04:23:41,2021-03-06 04:23:41
Lat,33.93911,41.1533,28.0339,42.5063,-11.2027
Long_,67.709953,20.1683,1.6596,1.5218,17.8739
Confirmed,55827,111301,113948,10998,21026
Deaths,2449,1897,3007,112,511
Recovered,49362,73610,78824,10584,19624
Active,4016.0,35794.0,32117.0,302.0,891.0
Combined_Key,Afghanistan,Albania,Algeria,Andorra,Angola
Incident_Rate,143.409656,3867.572451,259.852428,14234.129295,63.974407
Case_Fatality_Ratio,4.386766,1.704387,2.638923,1.018367,2.430324

In [83]:
# take care of missing values
train_df['Incident_Rate'].fillna(0, inplace=True)
display_all(train_df.isnull().sum().sort_index()/len(train_df))
#train_df.fillna(0, inplace=True)

Active                 0.001005
Admin2                 0.178850
Case_Fatality_Ratio    0.009797
Combined_Key           0.000000
Confirmed              0.000000
Country_Region         0.000000
Deaths                 0.000000
FIPS                   0.180106
Incident_Rate          0.000000
Last_Update            0.000000
Lat                    0.022105
Long_                  0.022105
Province_State         0.042954
Recovered              0.000000
dtype: float64

In [84]:
train_df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-03-06 04:23:41,33.93911,67.709953,55827,2449,49362,4016.0,Afghanistan,143.409656,4.386766
1,NaN,NaN,NaN,Albania,2021-03-06 04:23:41,41.15330,20.168300,111301,1897,73610,35794.0,Albania,3867.572451,1.704387
2,NaN,NaN,NaN,Algeria,2021-03-06 04:23:41,28.03390,1.659600,113948,3007,78824,32117.0,Algeria,259.852428,2.638923
3,NaN,NaN,NaN,Andorra,2021-03-06 04:23:41,42.50630,1.521800,10998,112,10584,302.0,Andorra,14234.129295,1.018367
4,NaN,NaN,NaN,Angola,2021-03-06 04:23:41,-11.20270,17.873900,21026,511,19624,891.0,Angola,63.974407,2.430324

In [85]:
#idx = np.random.permutation(range(n))[:2000]
#idx.sort()
#small_train_df = train_df.iloc[idx[:1000]]
#small_test_df = train_df.iloc[idx[1000:]]
small_cont_vars = ['Active', 'Confirmed', 'Deaths', 'Recovered', 'Case_Fatality_Ratio']
small_cat_vars =  ['Province_State', 'Last_Update', 'Admin2', 'FIPS']
#small_train_df = small_train_df[small_cat_vars + small_cont_vars + ['Incident_Rate']]
#small_test_df = small_test_df[small_cat_vars + small_cont_vars + ['Incident_Rate']]
procs = [Categorify, FillMissing, Normalize]

In [86]:
#small_train_df.head()

In [87]:
#small_test_df.head()

In [88]:
dls = TabularDataLoaders.from_df(train_df, path = "data/03-05-2021_world.csv", procs=procs, cat_names=small_cat_vars, cont_names=small_cont_vars, y_names = 'Incident_Rate', 
                                  valid_idx=list(range(800,1000)), bs=64)

In [89]:
splits = RandomSplitter(valid_pct=0.2)(range_of(train_df))

In [90]:
to = TabularPandas(train_df, procs=procs,
                   cat_names = small_cat_vars,
                   cont_names = small_cont_vars,
                   y_names = 'Incident_Rate',
                   splits=splits)

In [91]:
to.xs.iloc[:3]

,Province_State,Last_Update,Admin2,FIPS,Active_na,Case_Fatality_Ratio_na,Active,Confirmed,Deaths,Recovered,Case_Fatality_Ratio
1235,198,7,292,456,1,1,-0.095959,-0.176724,-0.169059,-0.151451,-0.345793
81,339,7,0,0,1,1,-0.123719,-0.185743,-0.168273,-0.139457,-0.036747
255,100,7,0,0,1,1,-0.096226,1.796915,0.834625,2.508459,-0.242196

In [92]:
dls = to.dataloaders(bs=64)

In [93]:
dls.show_batch()

In [94]:
learn = tabular_learner(dls, metrics=accuracy)

In [95]:
learn.fit_one_cycle(1)

In [96]:
learn.show_results()

In [97]:
preds, targs = learn.get_preds()

In [98]:
cum_prob = (1.8+2.1)/100; cum_prob # probability according to: https://www.acpjournals.org/doi/10.7326/M20-6817

0.03900000000000001

In [99]:
prob_mask = 1.8/3.9; prob_mask

0.46153846153846156

In [100]:
prob_nomask = 2.1/3.9; prob_nomask

0.5384615384615385

In [101]:
irlen = len(train_df.Incident_Rate);

In [125]:
train_df.Incident_Rate
infected_mask_list = [0] * irlen

In [126]:
np.int64(np.ceil(train_df.Incident_Rate[1]))

3868

In [136]:
for i in range(irlen):
    i_rate = np.int64(np.ceil(train_df.Incident_Rate[i]))
    imask_counter = 0
    for j in range(i_rate):
        x = random.rand()
        if x <= prob_mask:
            imask_counter += 1
    infected_mask_list[i] = imask_counter

In [137]:
display(infected_mask_list) # display the array, sorted by region/country alphabetically. each entry is how many cases were infected while wearing masks

[69,
 1765,
 121,
 6661,
 25,
 373,
 2174,
 2686,
 12,
 28,
 21,
 11,
 16,
 22,
 129,
 17,
 2409,
 1096,
 981,
 3367,
 131,
 523,
 1444,
 2445,
 3688,
 2600,
 2450,
 4163,
 4364,
 2056,
 3658,
 3753,
 0,
 3473,
 2706,
 1432,
 25,
 54,
 1010,
 1899,
 611,
 3092,
 1792,
 4669,
 3604,
 2198,
 2237,
 4646,
 3816,
 2745,
 1457,
 3383,
 3098,
 1961,
 2033,
 2595,
 2684,
 1462,
 2450,
 2252,
 2703,
 1603,
 4063,
 6343,
 4580,
 2141,
 3047,
 3389,
 19,
 1716,
 25,
 118,
 11,
 1349,
 3,
 71,
 1401,
 796,
 0,
 0,
 1067,
 81,
 74,
 46,
 73,
 444,
 1019,
 47,
 1528,
 0,
 1183,
 79,
 35,
 16,
 2921,
 2019,
 3153,
 1978,
 1388,
 2308,
 1294,
 2924,
 2468,
 6069,
 1954,
 2400,
 1657,
 1569,
 3605,
 0,
 1367,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 4,
 1,
 64,
 52,
 1,
 1,
 0,
 3,
 0,
 1,
 1,
 2,
 0,
 1,
 1,
 4,
 1,
 2,
 2,
 0,
 0,
 3,
 0,
 2,
 3234,
 2458,
 961,
 2321,
 1505,
 1811,
 2181,
 4116,
 1963,
 1336,
 868,
 1617,
 554,
 1024,
 1697,
 1194,
 1228,
 2117,
 903,
 1139,
 1893,
 1345,
 1580,
 1046,
 2777,
 2271,
 2012,
 1941,
 1076,
 2245,
 0,
 2025,
 1350,
 591,
 196,
 72,
 14,
 1905,
 56,
 2845,
 214,
 1383,
 5511,
 623,
 20,
 1723,
 0,
 293,
 88,
 1015,
 755,
 88,
 442,
 203,
 40,
 2467,
 674,
 68,
 4,
 523,
 2576,
 3089,
 1075,
 853,
 3051,
 11,
 659,
 3012,
 179,
 1855,
 24,
 2622,
 321,
 100,
 3104,
 1339,
 1567,
 1662,
 1388,
 1216,
 1331,
 1402,
 724,
 1002,
 1375,
 1200,
 1368,
 2245,
 1317,
 701,
 1671,
 0,
 116,
 912,
 64,
 478,
 61,
 69,
 532,
 43,
 1581,
 842,
 2106,
 810,
 554,
 762,
 465,
 310,
 110,
 873,
 503,
 236,
 1584,
 1616,
 195,
 454,
 354,
 423,
 146,
 627,
 1387,
 1643,
 336,
 133,
 799,
 452,
 193,
 180,
 248,
 350,
 1276,
 273,
 178,
 431,
 521,
 338,
 367,
 0,
 120,
 391,
 269,
 254,
 895,
 803,
 2008,
 4160,
 1992,
 1308,
 925,
 2271,
 2862,
 2975,
 1930,
 2335,
 2826,
 2166,
 1653,
 4750,
 2986,
 2648,
 1794,
 1126,
 1414,
 2018,
 2399,
 2959,
 3097,
 410,
 164,
 10,
 37,
 202,
 47,
 34,
 160,
 50,
 96,
 98,
 93,
 173,
 159,
 100,
 76,
 16,
 38,
 47,
 219,
 58,
 90,
 158,
 69,
 75,
 75,
 53,
 57,
 120,
 28,
 61,
 59,
 267,
 238,
 0,
 68,
 191,
 77,
 22,
 66,
 103,
 28,
 384,
 15,
 34,
 0,
 68,
 29,
 45,
 46,
 1885,
 636,
 84,
 86,
 1852,
 2113,
 589,
 1,
 2161,
 2630,
 242,
 17,
 907,
 3155,
 3448,
 4167,
 0,
 33,
 74,
 447,
 1753,
 23,
 2523,
 4,
 181,
 20,
 741,
 572,
 1569,
 413,
 84,
 539,
 2896,
 978,
 616,
 785,
 897,
 439,
 503,
 446,
 591,
 426,
 623,
 378,
 1029,
 478,
 499,
 1150,
 527,
 892,
 480,
 1021,
 1042,
 674,
 589,
 0,
 289,
 640,
 816,
 1,
 2259,
 2361,
 34,
 5729,
 580,
 97,
 695,
 442,
 3526,
 338,
 1332,
 2112,
 2855,
 1918,
 2739,
 2097,
 3003,
 3220,
 3094,
 3065,
 2261,
 0,
 2974,
 2015,
 3254,
 22,
 51,
 10,
 33,
 2343,
 630,
 1300,
 120,
 73,
 240,
 1016,
 118,
 73,
 263,
 3728,
 9,
 1035,
 2267,
 1695,
 1236,
 1876,
 1368,
 1070,
 2419,
 1225,
 1285,
 1505,
 1956,
 1479,
 1060,
 1371,
 2716,
 1408,
 2740,
 4876,
 1609,
 1179,
 875,
 1506,
 2466,
 2145,
 1817,
 0,
 239,
 2150,
 3731,
 2679,
 1940,
 1383,
 885,
 3458,
 1186,
 2326,
 1303,
 348,
 974,
 1300,
 1599,
 371,
 689,
 650,
 784,
 445,
 1389,
 1045,
 1395,
 1197,
 1131,
 1306,
 3217,
 1398,
 1966,
 1909,
 3034,
 542,
 1690,
 1853,
 1579,
 1282,
 2201,
 1331,
 300,
 978,
 963,
 1296,
 974,
 1063,
 2680,
 805,
 1073,
 3635,
 1372,
 2944,
 1110,
 1376,
 1034,
 2120,
 601,
 948,
 1876,
 902,
 1346,
 856,
 1017,
 2356,
 815,
 991,
 3229,
 1575,
 2058,
 714,
 945,
 1265,
 797,
 831,
 1220,
 210,
 1269,
 1040,
 1247,
 370,
 2276,
 867,
 1794,
 954,
 971,
 1549,
 1350,
 3226,
 1239,
 1696,
 61,
 33,
 946,
 692,
 1,
 5330,
 419,
 504,
 82,
 2556,
 1376,
 24,
 472,
 2673,
 4360,
 1,
 22,
 1169,
 39,
 2617,
 3779,
 2051,
 2220,
 3534,
 850,
 2069,
 3780,
 3951,
 3105,
 2517,
 2982,
 1933,
 4003,
 4163,
 3858,
 3208,
 3644,
 3253,
 0,
 181,
 34,
 719,
 2346,
 2432,
 3681,
 2132,
 3477,
 2593,
 3547,
 2266,
 3225,
 2496,
 2812,
 2279,
 3761,
 2209,
 3186,
 3047,
 1608,
 2627,
 2905,
 3122,
 3269,
 3033,
 43,
 2,
 71,
 0,
 20,
 4,
 48,
 271,
 937,
 1486,
 5180,
 4065,
 3993,
 5047,
 5043,
 5352,
 4870,
 5712,
 4732,
 3196,
 4056,
 2041,
 6663,
 5154,
 4344,
 4673,
 4982,
 4023,
 3870,
 5084,
 4869,
 4869,
 4513,
 4326,
 5472,
 5395,
 4882,
 6028,
 5798,
 5926,
 4195,
 5000,
 6637,
 4934,
 4367,
 5905,
 5026,
 4424,
 4259,
 4070,
 4213,
 4427,
 6277,
 3825,
 3994,
 5937,
 4403,
 5569,
 4006,
 3685,
 4571,
 5404,
 0,
 5464,
 5221,
 4185,
 3368,
 3271,
 4595,
 4694,
 3769,
 4391,
 4089,
 5315,
 0,
 4765,
 4386,
 5452,
 5117,
 5005,
 5153,
 4266,
 9011,
 0,
 2033,
 1640,
 1958,
 3073,
 505,
 1851,
 3151,
 1313,
 3711,
 6738,
 3809,
 1513,
 4806,
 3549,
 1919,
 570,
 1767,
 772,
 3300,
 0,
 2302,
 561,
 5509,
 3022,
 6785,
 4163,
 5318,
 5474,
 6283,
 2673,
 5154,
 5271,
 4539,
 6491,
 0,
 4935,
 4709,
 7681,
 0,
 3520,
 7951,
 5283,
 4320,
 3166,
 4491,
 4492,
 5778,
 3541,
 4408,
 7223,
 4243,
 5399,
 3478,
 5387,
 4536,
 4820,
 5391,
 4987,
 5509,
 5317,
 4888,
 5520,
 4996,
 4282,
 4275,
 4017,
 4575,
 3996,
 5968,
 4112,
 6631,
 5599,
 4549,
 5596,
 8856,
 6116,
 4781,
 3728,
 5814,
 8632,
 11239,
 4422,
 4691,
 4362,
 3982,
 2639,
 4332,
 6470,
 5670,
 3747,
 4430,
 4195,
 4439,
 3580,
 4415,
 4102,
 6096,
 4489,
 5552,
 5075,
 4538,
 5171,
 4395,
 4168,
 3912,
 5302,
 7377,
 4046,
 6342,
 3530,
 0,
 4496,
 3374,
 5704,
 4476,
 4637,
 7396,
 2181,
 3407,
 3990,
 2347,
 1939,
 4613,
 2457,
 1685,
 2230,
 4411,
 3671,
 1108,
 6783,
 3402,
 5243,
 6769,
 2274,
 8438,
 5540,
 4598,
 2375,
 1014,
 2044,
 4921,
 2445,
 3902,
 4398,
 3053,
 1861,
 3784,
 2308,
 1629,
 5398,
 2875,
 4285,
 6055,
 3653,
 1761,
 4090,
 3263,
 2406,
 3330,
 2625,
 2493,
 2900,
 1506,
 1861,
 3147,
 2690,
 4781,
 4220,
 3635,
 1386,
 4724,
 3318,
 0,
 4290,
 2758,
 3383,
 4283,
 3803,
 3513,
 2210,
 3508,
 12207,
 2777,
 2526,
 3355,
 3160,
 1757,
 2577,
 2252,
 15675,
 1521,
 3659,
 3852,
 1533,
 2807,
 4419,
 3348,
 2217,
 5304,
 3893,
 1252,
 3758,
 3224,
 969,
 2091,
 1731,
 2922,
 2998,
 3509,
 2454,
 3806,
 2655,
 3142,
 8210,
 7820,
 4037,
 4164,
 2358,
 3121,
 3436,
 3911,
 4720,
 2449,
 0,
 1375,
 3654,
 5362,
 4389,
 4170,
 3551,
 2952,
 3450,
 2188,
 2711,
 4657,
 3825,
 4512,
 2322,
 0,
 3749,
 3612,
 3358,
 3995,
 3677,
 2925,
 3047,
 3961,
 3339,
 2441,
 0,
 3733,
 3754,
 4183,
 4493,
 0,
 0,
 2696,
 3876,
 5238,
 4998,
 4722,
 2641,
 4744,
 5377,
 2623,
 2995,
 3552,
 3701,
 4925,
 4628,
 4138,
 4340,
 4909,
 2488,
 ...]